body{background-color: #d8ecf0;}
h1{
  text-align: center;
  font-family: Libre Baskerville , serif;
  color: black;
  }
.header{
  background-color: #006666;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}
 .side{
   width: 30%;
   height: 100%;
   position:left-fixed;
   background-color: white;
 }
