body{
  background-color: #d8ecf0;
  margin: 0;
}
h1{
  text-align: center;
  font-family: Libre Baskerville , serif;
  color: black;
  }
.header{
  background-color: #006666;
  position:fixed;
  top:0;
  width:100%;
  margin-left: 175px
}
.side{
  width: 175px;
  height: 100%;
  position:fixed;
  background-color: skyblue;
  padding-top: 60px;
}
.side a{
  font-size: 28px;
  color: black;
  padding: 8px 8px 8px 8px;
  display: block;
}
